.toggle_sidebar {
    position: absolute;
    right: 0;
    top: 40%;
    right: -25px;
    background-color: #fff;
    padding: .5rem;
}

.sidebar {
    transition: all 0.3s ease-in-out;
    transform: translateX(-100%);
}
.sidebar.toggle {
    transform: translateX(0);
}
